<%- include('layout', { content: `
    <div class="w-full h-80 overflow-hidden relative">
      <div class="text-center py-8">
          <h2 class="text-2xl font-semibold">Bienvenido a su app web</h2>
         
      </div>
      <div class="carousel">
        <div class="carousel-inner">
          <div class="carousel-slide">
            <img src="/img/1.jpg" alt="Imagen 1">
          </div>
          <div class="carousel-slide">
            <img src="/img/2.jpg" alt="Imagen 2">
          </div>
          <div class="carousel-slide">
            <img src="/img/3.jpg" alt="Imagen 3">
          </div>
          
        </div>
      </div>
    </div>
  `,
  user: user,
  isAuthenticated: isAuthenticated

  }) %>